@{
    ViewBag.Title = "Home Page";
}

@*<div id="slider"></div>*@

<div id="mainTemplatedContent">
   <div data-bind="template: { name: templateName() }"></div>
   <div data-bind="enable: hasNextQuestion, click: moveToNextQuestion">
      Move to next question
   </div>
</div>
