@{
    ViewBag.Title = "Home Page";
}

@*<div id="slider"></div>*@

<div id="mainTemplatedContent">
   <div data-bind="template: { name: templateName() }"></div>
   <div data-bind="visible: hasNextQuestion, click: moveToNextQuestion">
      Move to next question
   </div>  
   <div data-bind="visible: isFinalQuestion, click: finishQuestionPartOfSurvey">
      Finish
   </div>
</div>
