<div data-bind="if: currentQuestion() !== null">
   <div data-bind="with: currentQuestion()">
      <section class="featured">
         <div class="content-wrapper">
            <hgroup class="title">
               <h1 data-bind="text: questionTitle"></h1>
               <h2 data-bind="text: questionDescription"></h2>
            </hgroup>
         </div>
      </section>
      <section class="content-wrapper main-content clear-fix">
         <div class=" message-error" data-bind="text: spendMessage, css: {'message-success': $parent.canMoveToNextStep}"></div>
         <ol class="round" data-bind="foreach: responses">
            <li data-bind="attr: { 'class': questionNumber }">
               <h5 data-bind="text: questionTitle"></h5>
               <div data-bind="slider: sliderStuff"></div>
               <span data-bind="text: sliderStuff.currentValue"></span>
            </li>
         </ol>

         <button class="rightAligned" data-bind="visible: $parent.hasNextQuestion, click: $parent.moveToNextQuestion">
            Next question
         </button>
         <button class="rightAligned" data-bind="visible: $parent.isFinalQuestion, click: $parent.finishQuestionPartOfSurvey">
            Finish
         </button>
      </section>
   </div>
</div>
