<h3 data-bind="text: title"></h3>
<ol class="round" data-bind="foreach: surveyQuestions">
    <li data-bind="attr: { 'class': questionNumber }">
       <h5 data-bind="text: questionTitle"></h5>
       <div id="sliders" data-bind="slider: sliderStuff"></div>
       <span>$</span>
       <span data-bind="text: sliderStuff.currentValue"></span>
    </li>
</ol>