<section class="featured">
   <div class="content-wrapper">
      <hgroup class="title">
         <h1 data-bind="text: questionTitle"></h1>
         <h2 data-bind="text: questionDescription"></h2>
      </hgroup>
   </div>
</section>
<section class="content-wrapper main-content clear-fix">
   <div class="graphicPanel" data-bind="barChart: barChartDetails"></div>
</section>

